/* src/style/Services.css */
.service-item {
  transition: all 0.3s ease;
  border-radius: 15px;
}

.service-item:hover {
  background-color: var(--gym-card);
  transform: scale(1.05);
}

.icon-box {
  width: 70px;
  height: 70px;
  background-color: var(--gym-primary);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 0 15px rgba(255, 77, 0, 0.4);
}

.service-item h4 {
  color: var(--gym-text);
  font-size: 1.1rem;
  margin-top: 1rem;
}